.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 120px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
    padding: 10px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.bold {
	font-weight: bold;
}

span.small {
    font-size: 80% !important; 
}

.divider {
    width: 800px;
    height: 0px;
    margin: 30px auto;
    border-top: 1px solid #cccccc;
}

div.int-box {
    display: table-cell;
    vertical-align: middle;
}

div.col-md-12 {
	padding: 0px 0px 0px 0px;
}

div.panel {
	margin-bottom: 0px;
}

.button-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
}

.button-primary:hover {
    color: #fff;
    background-color: #275985;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
}
.selector-primary {
    cursor:pointer;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.service-name {
    font-size: 16pt;
    color: #337ab7;
}

.element-main {
    max-width: 200px;
    margin-top: -11px;
}

div.control-panel {
	margin-bottom: 15px;
}

div[class*=col-md-] {
	padding: 0px 15px 5px 0px;
}

div[class*=line-unit] {
	padding: 10px 5px 5px 0px;
}

.btn-group>.btn:first-child {
	margin-right: 10px;
}

div.row {
	padding: 0px 20px 0px 20px;
}

.fixed {
	display: inline-block;
	width: 300px;
}